{% embed 'partials/base.html.twig' %}

  {% block content %}

    <div class="blog_post">
      <h1 class="blog_post_title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
      <div class="blog_post_date">Post on <span>{{ page.date|date("d M") }}</span></div>
      <div class="blog_post_content">
        {{ page.content }}
      </div>
    </div>

  {% endblock %}

{% endembed %}
